body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #383838;
    color: #fff
}

h1 {
    color: #fff;
}

.header-bar {
    background-color: #191919;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #252525;
    color: #FF2940;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
