#magicTitle {
    transform-origin: center;
    width: 1500px;
    height: 300px;
}

.bordered {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 40px;
    width: 120%; /*Problèmes avec le <a>*/
}

.bordered:hover {
    filter: drop-shadow(27px 27px 10px rgba(0, 0, 0, 0.3));
}

.bordered > * {
    flex: 1 1 400px; /*gne ?*/
    height: auto;
    width: clamp(50px, 50%, 100%);
    padding: 10px;
}

.banniere {
    border-radius: 50px;
}

.project {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    display:block;
    justify-items: center;
}