#magicTitle {
    transform-origin: center;
    width: 750px;
    height: 150px;
}

.bordered {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 20px;
    width: 90%;
}

.bordered:hover {
    filter: drop-shadow(14px 14px 5px rgba(0, 0, 0, 0.3));
}

.bordered > * {
    flex: 1 1 200px; /*gne ?*/
    height: auto;
    width: clamp(25px, 50%, 100%);
    padding: 5px;
}

.banniere {
    border-radius: 25px;
}

.project {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    display:block;
    justify-items: center;
}