html, body {
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    background: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    --bg-color1: rgba(255, 81, 28, 0.5);
    --bg-color2: rgba(81, 255, 28, 0.5);
    --bg-angle: 0deg;
    background: linear-gradient(var(--bg-angle), var(--bg-color1), var(--bg-color2));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p:not(header p):not(footer p), a:not(header a) {
    padding: 25px clamp(10px, 20vw, 600px);
    text-align: center;
}

h1 {
    font-size: clamp(80px, 11vw, 130px);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: clamp(40px, 7vw, 90px);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

header, footer {
    width: 90%;
    margin: 25px;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 20px solid rgba(0, 0, 0, 0.4);
    border-right: 20px solid rgba(0, 0, 0, 0.4);
    border-radius: 80px;
    transition: all 0.4s ease-out;
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(10px, 2%, 150px);
    box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.3);
}

header {
    height: 150px;
}

footer {
    height: 75px;
    margin-top: auto;
    font-size: clamp(10px, 3.75vw, 40px);
    justify-content: center;
}

header:hover, footer:hover {
    transform: scale(1.01) translateX(-7px) translateY(-7px);
    box-shadow: 27px 27px 10px 0 rgba(0, 0, 0, 0.3);
}

header a, header p {
    color: inherit;
    text-decoration: none;
    margin-right: clamp(10px, 5%, 150px);
    font-size: clamp(20px, 4vw, 60px);
}

header img {
    max-height: clamp(20%, 8vw, 80%);
    margin-left: clamp(10px, 5%, 150px);
    margin-right: auto;
}

.bordered {
    width: 70%;
    border: 20px solid rgba(0, 0, 0, 0.8);
    border-radius: 80px;
    margin: 80px clamp(10px, 5%, 150px);
    padding: 20px;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.3));
}

.bordered:hover {
    transform: scale(1.01) translateX(-7px) translateY(-7px);
}

table {
    width: 90%;
    margin: 50px 0;
    border-collapse: collapse;
}

td {
    border: 5px solid black;
    padding: 40px 20px;
    margin: 0;
}