html, body {
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    background: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    --bg-color1: rgba(255, 81, 28, 0.5);
    --bg-color2: rgba(81, 255, 28, 0.5);
    --bg-angle: 0deg;
    background: linear-gradient(var(--bg-angle), var(--bg-color1), var(--bg-color2));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p:not(header p):not(footer p), a:not(header a) {
    padding: 13px clamp(5px, 10vw, 300px);
    text-align: center;
}

h1 {
    font-size: clamp(40px, 6vw, 65px);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: clamp(20px, 4vw, 45px);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

header, footer {
    width: 90%;
    margin: 13px;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 10px solid rgba(0, 0, 0, 0.4);
    border-right: 10px solid rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    transition: all 0.4s ease-out;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(5px, 2%, 75px);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.3);
}

header {
    height: 75px;
}

footer {
    height: 37px;
    margin-top: auto;
    font-size: clamp(5px, 1.85vw, 20px);
    justify-content: center;
}

header:hover, footer:hover {
    transform: scale(1.01) translateX(-4px) translateY(-4px);
    box-shadow: 14px 14px 5px 0 rgba(0, 0, 0, 0.3);
}

header a, header p {
    color: inherit;
    text-decoration: none;
    margin-right: clamp(5px, 2.5%, 75px);
    font-size: clamp(10px, 2vw, 30px);
}

header img {
    max-height: clamp(20%, 8vw, 80%);
    margin-left: clamp(10px, 5%, 150px);
    margin-right: auto;
}

.bordered {
    width: 70%;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    margin: 40px clamp(5px, 2.5%, 75px);
    padding: 10px;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}

.bordered:hover {
    transform: scale(1.01) translateX(-4px) translateY(-4px);
}

table {
    width: 90%;
    margin: 25px 0;
    border-collapse: collapse;
}

td {
    border: 2.5px solid black;
    padding: 20px 10px;
    margin: 0;
}