body {
  font-family: Optima, sans-serif;
  background-color: #252525;
  color: white;
}

header {
  color: white;
  background-color: #36CF5F;
  text-align: right;
  height: 100px;
  border-bottom: 10px #289946 solid;
}
