body {
  font-family: Baskerville, sans-serif;
  font-size: 16px;
  height: 100%;
  background: linear-gradient(45deg, #151515, #353535);
  color: white;
}

p {
  text-align: left;
  padding: 5px;
  line-height: 25px;
}

header {
  display: flex;
  color: #000000;
  background-color: #36CF5F;
  height: 40px;
  border-bottom: 5px #289946 solid;
  align-items: center;
  padding: 0px 25px;
  justify-content: space-between;
}

.headerleft {
  display: flex;
  text-align: left;
  gap: 40px;
}

.headerright {
  text-align: right;
}

a {
  color: #000000;
}

h1, h2 {
  text-align: center;
}

.banner {
  width: 100%;
}

.pp {
  width: 25%;
  height: 25%;
  padding: 10px;
}

.container {
  display: flex;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.left {
  margin: 20px;
  width: 65%;
}

.right {
  width: 35%;
}

footer {
  display: flex;
  background-color: #101010;
  height: 50px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: #050505;
  margin: 0px, 3px;
}

.code-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

tr {
  background-color: #36cf5f81;
}

td, th {
  border: 2px solid black;
}
