body {
  font-family: Optima, sans-serif;
  height: 100%;
  background: linear-gradient(to bottom, #151515, #353535);
  color: white;
}

header {
  color: white;
  background-color: #36CF5F;
  height: 40px;
  border-bottom: 5px #289946 solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 5px
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.banner {
  width: 100vw;
}

.container {
  display: flex;
  height: 100vh;
}

.left, .right {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
}

footer {
  display: flex;
  background-color: #101010;
  height: 50px;
  color: #ffffff;
  justify-content: center;
  width: 100%;
  border-top: #050505;
}
