body {
  font-family: Optima, sans-serif;
  height: 100vh;
  background: linear-gradient(45deg, #151515, #353535);
  color: white;
}

header {
  display: flex;
  color: #000000;
  background-color: #36CF5F;
  height: 40px;
  border-bottom: 5px #289946 solid;
  align-items: center;
  padding: 0px 25px;
  justify-content: space-between;
}

.headerleft1 {
  display: flex;
  text-align: left;
  margin-right: 40px;
}

.headerleft2 {
  display: flex;
  text-align: left
}

.headerright {
  text-align: right;
  flex: 1;
}

a {
  color: #000000;
}

h1 {
  text-align: center;
}

.banner {
  width: 100%;
}

.pp {
  width: 70%;
  height: auto;
}

.container {
  display: flex;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

footer {
  display: flex;
  background-color: #101010;
  height: 50px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: #050505;
}
