body {
  font-family: Optima, sans-serif;
  background-color: #252525;
  color: white;
}

header {
  color: white;
  background-color: #36CF5F;
  text-align: right;
  padding: 5px;
  height: 20px;
  border-bottom: 5px #289946 solid;
}
