body {
  font-family: Optima, sans-serif;
  background: linear-gradient(to-bottom, #151515, #252525);
  color: white;
}

header {
  color: white;
  background-color: #36CF5F;
  text-align: right;
  padding: 2px;
  height: 25px;
  border-bottom: 5px #289946 solid;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
