body {
  font-family: Optima, sans-serif;
  background-size: 100% 500%;
  background: linear-gradient(to bottom, #151515, #171717, #191919, #212121, #232323, #252525);
  color: white;
}

header {
  color: white;
  background-color: #36CF5F;
  height: 25px;
  border-bottom: 5px #289946 solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 5px
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  background-color: #101010;
  text-align: center;
  height: 50px;
  color: #ffffff;
  padding: 10px
  position: absolute;
  bottom: 0;
}
