/* Note: Quand "Singe" est en commentaire, ça signifie que la méthode employée n'est pas correcte, mais elle fonctionne. */

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    background: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    --bg-color1: rgba(255, 81, 28, 0.5);
    --bg-color2: rgba(81, 255, 28, 0.5);
    --bg-angle: 0deg;
    background: linear-gradient(var(--bg-angle), var(--bg-color1), var(--bg-color2));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p:not(header p):not(footer p), a:not(header a) {
    padding: 0 clamp(10px, 20vw, 600px); /* Singe */
    text-align: center;
}

h1 {
    font-size: clamp(80px, 11vw, 130px); /* Singe */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header, footer {
    width: 90%;
    margin: 50px 0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 20px solid rgba(0, 0, 0, 0.4);
    border-right: 20px solid rgba(0, 0, 0, 0.4);
    border-radius: 80px;
    transition: all 0.4s ease-in-out;
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(10px, 2%, 150px);
    box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.3);
}

header {
    height: 10%;
}

footer {
    height: 5%;
    margin-top: auto;
    font-size: clamp(10px, 3.75vw, 40px); /* Singe */
    justify-content: center;
}

header:hover, footer:hover {
    transform: scale(1.01) translateX(-7px) translateY(-7px);
    box-shadow: 27px 27px 10px 0 rgba(0, 0, 0, 0.3);
}

header a, header p {
    color: inherit;
    text-decoration: none;
    margin-right: clamp(1px, 1%, 150px); /* Singe */
    font-size: clamp(20px, 4vw, 60px);
}

header img {
    max-height: clamp(20%, 8vw, 80%); /* Singe */
    margin-left: clamp(10px, 5%, 150px);
    margin-right: auto;
}
