img {
    width: 100%;
    height: auto;
    padding: 5px;
    justify-content: center;
}

.vertialdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    color: #FFFFFF;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}