img {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.leftmain, .rightmain {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

button, select {
    color: #FFFFFF;
    background: #2c2c2c;
    border: 3px solid #2c2c2c;
    margin: 5px;
    max-height: 5;
}

#packVersion1, #packVersion2, #packVersion3 {
    width: 20px;
}

label {
  margin: 5px;
}

input[type="text"] {
  background-color: #454545;
  border: 1px solid black;
  outline: none;
  color: white;
}

input[type="file"]::file-selector-button {
  color: white;
  border: none;
  background: #2c2c2c;
}