img {
    width: 100%;
    height: auto;
    padding: 5px;
    justify-content: center;
}

.verticaldiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

button, select {
    color: #FFFFFF;
    background: #2c2c2c;
    border: 3px solid #2c2c2c;
    margin: 5px;
}

#packVersion1, #packVersion2, #packVersion3 {
    width: 20px;
}

label {
  margin: 5px;
}

input[type="text"] {
  background-color: #454545;
  border: 1px solid black;
  outline: none;
  color: white;
}

input[type="file"]::file-selector-button {
  color: white;
  border: none;
  background: #2c2c2c;
}